*{margin: 0; padding:0; color:#222; font-size:10px; 
    
    font-family: 'Noto Sans KR', sans-serif;
}
a{text-decoration: none; color:#222;}
ul,li{list-style: none;}


/*----------------------------------------------------------*/
#wrap{
    width: 100%;
}
#header{
    width: 100%;
    height: 89px;
    position: fixed;
    background-color: transparent;
    z-index: 9999;
    transition: all 0.7s;
}
#header.on{
    background-color: #fff;
    transition: all 0.7s;
    box-shadow: 5px 0px 10px rgba(0,0,0,0.2);
}
#headerin{
    width: 1280px;
    margin: 0 auto;
}
#headerin:after{
    display: block;
    clear: both;
    content: "";
}
#logo{
    float: left;
    margin-top: 24.5px;
}
.gnb{
    float: left;
    width: 45%;
    margin-left: 20%;
    height: 89px;
    font-weight: 700;
}
.mainmenu{
    width: 100%;
    height: 100%;
}
.mainmenu:after{
    display: block;
    clear: both;
    content: "";
}
.mainmenu>li{
    float: left;
    width: 25%;
    height: 100%;
    text-align: center;
    position: relative;
}
.mainmenu>li>a{
    display: block;
    width: 100%;
    height: 100%;
    font-size:1.7rem;
    font-weight: 500;
    line-height: 89px;
    color:#fff;
}
#header.on .mainmenu>li>a{
    color:#222;
}
.mainmenu>li>a:hover{
    opacity: 0.3;
    transition: all 0.7s;
}
.mainmenu>li:first-child{
    margin-left: 0;
}
/*
.mainmenu li:hover .submenu{
    display: block;
    transition: all 0.3s;
}
*/
.submenu{
    display: none;
    transition: all 0.7s;
    position: absolute;
    width: 120%;
    background-color: #fff;
    top:80px;
    left:-10%;
    border:1px solid #ccc;
/*    box-sizing: border-box;*/
    box-shadow: 1px 7px 10px rgba(0,0,0,0.3);
}
.submenu>li{
    width: 100%;
    height: 30px;
    padding:10px 0;
    position: relative;
}
.submenu>li:after{
    position: absolute;
    content: "";
    display: block;
    width: 90%;
    height: 1px;
    background-color: #ccc;
    z-index: 999;
    top:50px;
    left:1%;
    right:1%;
    margin: 0 auto;
}
.submenu>li:last-child:after{
    display: none;
}
.submenu>li>a{
    text-align: center;
    display: block;
    width: 100%;
    height: 100%;
    font-size:1.6rem;
    font-weight: 300;
    line-height: 30px;
}
.submenu>li>a:hover{
    color:#0b3081;
}




.info{
    float: right;
    width: 118px;
    height: 89px;
}
.info:after{
    display: block;
    clear: both;
    content: "";
}
.info a{
    display: block;
    text-align: center;
    line-height: 66px;
    float: left;
}
.info .location{
    width: 50px;
    margin-right: 2%;
    position: relative;
}
.info .location:after{
    content: "";
    position: absolute;
    top:27px;
    left:58px;
    display: inline-block;
    width: 1px;
    height: 35px;
    background-color: #ccc;
    margin-right: 0;
}
.info .phone{
    width: 65px;
}
.info a>i>img{
    padding-top: 25px;
}

#main{
    width: 100%;
    height: 891px;
    position: relative;
}
#main .slider{
    width: 100%;
    height: 891px;
    background-image: url(../images/mainimg.jpg);
    background-position: center center;
}
#main .slider2{
    background-image: url(../images/mainimg2.jpg);
}
#main .slider3{
    background-image: url(../images/mainimg3.jpg);
}
.maintxtbox{
    position: absolute;
    top:430px;
    left:20%;
    right:20%;
    margin: 0 auto;
    color:#ffffff;
}
.maintxtbox h3{
    font-size: 7.2rem;
    color:#fff;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
.maintxtbox p{
    font-size: 2.4rem;
    color:#ffffff;
    text-align: center;
}
#main .pager{
    position: absolute;
    bottom:50px;
    left:10%;
    right:10%;
    width: 56px;
    margin: 0 auto;
    z-index: 99;
}
#main .pager a{
    display: block;
    float:left;
    width: 12px;
    height: 12px;
    margin-right: 10px;
    border-radius: 50%;
    border:1px solid #fff;
    box-sizing: border-box;
    opacity: 0.7;
}
#main .pager a:last-child{
    margin-right: 0;
}
#main .pager a.active{
    background-color: #fff;
}

/*----------------------------------------------------------*/


#contents{
    width: 100%;
}
.con1{
    width: 100%;
    height: 78px;
    background-color: #022b7f;
}
.con1in{
    width: 1000px;
    margin: 0 auto;
}
.con1in ul{
    width: 100%;
    height: 78px;
}
.con1in ul:after{
    display: block;
    content: "";
    clear: both;
}
.con1in ul li{
    float: left;
    width: 50%;
    line-height: 75px;
    text-align: center;
    color:#fff;
    font-size: 2.2rem;
    font-family: 'Roboto', sans-serif;
}
.con1in ul li:first-child{
/*    width: 49%;*/
}
.con1in>ul li i{
    display: inline-block;
    height: 78px;
    width: 50px;
}
.con1in>ul li i img{
    margin-top: -10px;
    margin-right: 25px;
    vertical-align: middle;
}
}

/*----------------------------------------------------------*/

.txtbox{
}
.txtbox .tit{
    padding-top:120px;
    font-size:4.8rem;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}
.txtbox .txt{
/*    padding:10px 0 0 0;*/
    font-size:2.4rem;
    text-align: center;
}


/*----------------------------------------------------------*/


.con2{
    width: 100%;
    height: 1000px;
}
.con2in{
    width: 1280px;
    margin: 0 auto;
}
.con2 ul{
    width: 90%;
    margin: 0 auto;
    margin-top: 58px;
}
.con2 ul li{
    float: left;
    width: 32%;
    margin-right: 2%;
    margin-bottom: 2%;
}
.con2 ul li:nth-child(3),.con2 ul li:nth-child(6){
    margin-right: 0;
}
.con2 ul li:nth-child(4),.con2 ul li:nth-child(5),.con2 ul li:nth-child(6){
    margin-bottom:10%;
}
.con2 ul li a{
    display: block;
    border: 5px solid #efefef;
    box-sizing: border-box;
    text-align: center;
    padding: 50px 0;
}
.con2 ul li a:hover{
    border:5px solid #022b7f;
    transition: all 0.7s;
}
.con2 ul li a:hover span{
    color: #022b7f;
}
.con2 ul li a span{
    display: block;
    margin-top: 22px;
    font-size: 1.7rem;
    font-weight: 300;
    color: #a9a9a9;
}



/*----------------------------------------------------------*/



.txtbox .txt2{
    margin-top:15px;
    font-size:1.6rem;
    font-weight: 300;
    text-align: center;
}
.con3{
    width: 100%;
    height: 900px;
}
.con3in{
    width: 1280px;
    margin: 0 auto;
}
.con3in .post-t{
    width: 100%;
    position: relative;
}
.con3in .post-slider{
    width: 80%;
    margin: 0 auto;
    margin-top: 77px;
    
}
.con3in .post-slider:after{
    display: block;
    content: "";
    clear: both;
}
.con3in .post-slider .post{
    float: left;
    width: 30%;
    height: 450px;
    margin-right: 2%;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
.con3in .post-slider .post:last-child{
    margin-right: 0;
}
.con3in .post-slider .post>a{
    display: block;
    width: 100%;
    height: 450px;
/*    background-color: aqua*/
}
.con3in .post-slider .post>a .img{
    display: block;
    width: 100%;
    height: 303px;
    background-repeat: no-repeat;
    background-position: top 50% 50%;
    background-size: 100%;
}
.con3in .post-slider .post>a .imgbox{
    margin-top: 1%;
    margin-left: 3%;
}
.con3in .post-slider .post>a .boxtit{
    font-size:22px;
    font-weight: 500;
    margin-bottom: 5px;
}
.con3in .post-slider .post>a .boxtxt{
    margin-top: 5px;
    font-size: 16px;
    font-weight: 300;
    color:#222;
}
.con3in .post-slider .post>a .line{
    display: inline-block;
    position: relative;
    width: 85%;
    height: 2px;
    background-color: transparent;
}
.con3in .post-slider .post>a .line .bl{
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 15%;
    height: 2px;
    background-color: #022b7f;
    transition: all 0.7s;
}
.con3in .post-slider .post>a:hover .line .bl{
    width: 100%;
    transition: all 0.7s;
}
.con3in .post-slider .post>a i{
    font-size: 14px;
    font-weight: 300;
    color:#aba9a9;
    font-style: normal;
}

.post-t .next{
  position:absolute;
    display: block;
  top:50%;
  right:30px;
    cursor: pointer;
    z-index: 99;
}
.post-t .prev{
  position:absolute;
    display: block;
  top:50%;
  left:30px;
    cursor: pointer;
    z-index: 99;
}






.con4{
    width: 100%;
    height: 635px;
    background-color: #efefef;
}
.con4in{
    width: 1280px;
    margin: 0 auto;
}

.con4box{
    width: 100%;
    padding-top: 104px;
    position: relative;
}
.con4left{
    display: block;
    width: 50%;
    height: 428px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 100%;
}
.con4right{
    float:left;
    width: 48%;
    position: absolute;
    bottom: 0;
    right:0;
/*    margin: 35px 0 0 2%;*/
}
.con4 .txtbox{
}
.con4 .txtbox>span{
    font-size:2.0rem;
    font-weight: 500;
    color:#cccccc;
    font-family: 'Roboto', sans-serif;
    text-align: left;
}
.con4 .txtbox .tit{
    padding-top:0px;
    font-size:4.8rem;
    font-family: 'Roboto', sans-serif;
    text-align: left;
}
.con4 .txtbox .txt{
/*    padding:10px 0 0 0;*/
    font-size:2.4rem;
    text-align: left;
}
.con4 .txtbox .txt2{
    text-align: left;
}
.con4right .buttonbox{
    margin-top: 66px;
}
.con4right .buttonbox a{
    display: block;
    width: 80%;
    height: 60px;
    border:1px solid #022b7f;
    line-height: 60px;
}
.con4right .buttonbox a:first-child{
    margin-bottom: 15px;
}
.con4right .buttonbox a:hover{
    transition: all 0.7s;
    background-color: #022b7f;
}
.con4right .buttonbox a:hover span{
    transition: all 0.7s;
    color:#fff;
}
.con4right .buttonbox:after{
    display: block;
    content: "";
    clear: both;
}
.con4right .buttonbox span{
    font-size: 1.6rem;
    color: #022b7f;
    font-weight: 300;
    margin-left: 5%;
    float: left;
}
.con4right .buttonbox i{
    float: right;
    margin-right: 5%;
}





.con5{
    width: 100%;
    height: 300px;
    background-image: url(../images/sec4background.jpg);
    background-repeat: no-repeat;
    background-position: 0 50%;
    background-size: cover;
    background-attachment:fixed;
}
.con5in{}
.con5 .txtbox{
    color:#fff;
    text-align: center;
}
.con5 .txtbox .tit{
    color:#fff;
    font-size:4.6rem;
    padding-top:80px;
}
.con5 .txtbox .txt{
    color:#fff;
    font-size: 1.8rem;
}
.con5 .txtbox button{
    background-color: transparent;
    border:1px solid #fff;
    border-radius: 25px;
    color:#fff;
    width: 240px;
    height: 50px;
    font-size: 1.8rem;
    font-weight: 300;
    text-align: center;
    line-height: 50px;
    margin-top: 20px;
}




.con6{
    width: 100%;
    height: 550px;
}
.con6in{
    width: 1280px;
    margin: 0 auto;
}

.con6box{
    width: 100%;
    padding-top: 75px;
}
.con6box:after{
    display: block;
    content: "";
    clear: both;
}
#map{
    float: left;
    border:1px solid #222;
}

.con6right{
    float:left;
    width: 35%;
    margin: 35px 0 0 2%;
    
}
.con6 .txtbox{
}
.con6 .txtbox .tit{
    padding-top:0px;
    font-size:4.8rem;
    font-family: 'Roboto', sans-serif;
    text-align: left;
}
.con6 .txtbox .txt{
/*    padding:10px 0 0 0;*/
    font-size:2.4rem;
    text-align: left;
}
.con6 .textbox{
    margin-top: 20px;
}
.con6 .textbox li{
    margin-bottom: 15px;
}
.con6 .textbox li h5{
    font-size:18px;
    color:#0b3081;
}
.con6 .textbox li p{
    font-size:16px;
    font-weight: 300;
    color:#222;
}




#footer{
    width: 100%;
    height: 150px;
    background-color: #343434;
}
.footerin{
    width: 1280px;
    margin: 0 auto;
}
.footerin:after{
    display:block;
    content: "";
    clear: both;
}
.flogo{
    float: left;
    padding-top: 55px;
}
address{
    font-style: normal;
    float: left;
    font-size: 14px;
    color:#fff;
    font-weight: 300;
    margin-left: 15%;
    margin-top: 35px;
}
.top{
    display: block;
    float:right;
    margin-top: 42.5px;
    border-radius: 50%;
}
.top:hover{
    box-shadow: 2px 2px 15px rgba(0,0,0,0.5)
}





@media (max-width:1279px){
    
    
    #headerin,.con1in,.con2in,.con3in,.con4in,.con5in,.con6in,.footerin{
        width: 100%;
    }
    #header{
        height: 78px;
    }
    #logo{
        margin-top: 20px;
        margin-left: 2%;
    }
    .gnb{
        display: none;
    }
    .info{
        height: 78px;
    }
    .info a{
        line-height: 0;
    }
    .info a>i>img{
        padding-top: 20px;
    }
    .info .location:after{
        top:23px;
    }
    
    
    
    
    
    .maintxtbox{
        top:45%;
    }
    .maintxtbox h3{
        font-size:5.6rem;
    }
    .maintxtbox p{
        margin-top: 20px;
    }
    
    
    
    .txtbox .tit{
        font-size: 3.6rem;
    }
    .txtbox .txt{
        font-size: 1.8rem;
    }
    
    
    
    .con3in .post-slider .post>a .img{
        height: 52%;
    }
    
    .con4{
        height: 1000px;
    }
    .con4box{
        position: inherit;
        padding-top: 0;
    }
    .con4left{
        width: 100%;
        height: 500px;
    }
    .con4right{
        position: inherit;
        float: none;
        width: 80%;
        margin: 0 auto;
        margin-top: 5%;
    }
    .con4 .txtbox .tit{
        font-size: 3.6rem;
    }
    .con4 .txtbox .txt{
        font-size: 1.8rem;
    }
    .con4right .buttonbox{
        margin-top: 8%;
    }
    .con4right .buttonbox a{
        width: 100%;
    }
    
    
    .con5 .txtbox .tit{
    font-size:3.6rem;
}
.con5 .txtbox .txt{
    font-size: 1.6rem;
}
.con5 .txtbox button{
    font-size: 1.6rem;
}
    
    
    
    .con6{
        height: 800px;
    }
    #map{
        width: 100%;
        height: 500px;
        display: block;
    }
    .con6right{
        float: none;
        width: 100%;
    }
    .con6 .textbox{
        float:left;
    }
    .con6 .textbox{
        float: left;
    }
    
    
    
    
    
    
    
    
    
    
    
    
    
    
}







