*{margin: 0; padding: 0; color:#222; font-size:10px;}
ul,li{list-style: none;}
a{text-decoration: none; color:#222;}
/*@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');*/

#wrap{
    width: 100%;
}
#inner{
    width: 1280px;
    margin: 0 auto;
}

#header{
    position: fixed;
    top:0;
    width: 100%;
    height: 110px;
/*    background-color: rgba(0,0,0,0.5);*/
    z-index: 999;
}
.logo{
    position: absolute;
    left:5%;
    top:50px;
    transform: rotate(45deg);
}
.logo>a{
    display: block;
    width: 60px;
    height: 30px;
    background-color: blue;
    border-radius: 30px;
    font-size: 2.4rem;
    color:#fff;
    text-align: center;
    line-height: 60px;
    text-indent: -9999px;
    transition: all 0.5s;
/*    font-family: 'Roboto', sans-serif;*/
}
.logo:hover{
    transform: rotate(0deg);
    transition: all 0.5s;
}
.logo>a:hover{
/*    background-color: black;*/
    height: 60px;
    text-indent: 0;
    font-size: 1.6rem;
}

#button{
    width: 60px;
    height: 60px;
    background-color: #111;
    position: absolute;
    right:5%;
    top:50px;
    border-radius: 50%;
    border:none;
    cursor: pointer;
}
#button>span{
    display: block;
    margin: 0 auto;
    width: 30px;
    height: 3px;
    background-color: #fff;
}
#button>span.line2{
    margin-top: 10px;
}
#button.on:hover .line1{
    transform: rotate(-45deg);
    transition: all 0.5s;
}
#button.on:hover .line2{
    transform: rotate(45deg);
        margin-top: -3px;
    transition: all 0.5s;
}
#menu_container{
    display: none;
}


























#fullpage{
    background: url(../paper2.png);
    background-color: #fff;
    transition: all 0.5s;
}
.container{
    width:80%;
    height: 100vh;
    margin: 0 auto;
    background-color: antiquewhite;
}
.section{
    position: relative;
}
.pagebox{
    position: absolute;
    left:-5%;
    bottom:170px;
    width: 350px;
    transform: rotate(-90deg);
}
.pagebox .pagetext:before{
    display: inline-block;
    content: "";
    width: 250px;
    height: 1px;
    margin-bottom: 7px;
    margin-right: 10px;
    background-color: #222;
}
.pagebox .pagetext{
    font-size: 2.4rem;
    font-weight: 400;
}
.pagebox .pagetext .number{
    font-size:3.2rem;
    font-weight: 700;
}

#sec01{
/*    background-color: aqua;*/
    transition: all 0.5s;
}
#sec02{
/*    background-color: pink;*/
    transition: all 0.5s;
}
#sec03{
/*    background: url(../../PAPA.png);*/
    transition: all 0.5s;
}
#sec03 ul{
    width: 100%;
    height: 100vh;
}
#sec03 ul:after{
    display:block;
    content: "";
    clear: both;
}
#sec03 .list{
    float:left;
    width: 50%;
    height: 50%;
}
#sec03 .list>a{
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    text-align: center;
}

#sec03 .list>a .textbox{
    width: 100%;
    margin-top: 20%;
    position: absolute;
    top:0;
    left:0;
    z-index: 99;
}
#sec03 .list>a .textbox>h3{
    font-size:3.6rem;
    font-weight: 700;
    color:#fff;
    margin-top: 5%;
    transition: all 0.5s;
}
#sec03 .list>a .textbox>p{
    font-size:1.8rem;
    font-weight: 600;
    color:#fff;
    opacity: 0;
    transition: all 0.5s;
}
#sec03 .list>a .textbox>span{
    font-size:1.5rem;
    font-weight: 400;
    color:#fff;
    transition: all 0.5s;
    opacity: 0;
    display: none;
}
#sec03 .list>a .textbox>.line{
    width: 5%;
    height: 1px;
    background-color: #fff;
    margin: 0 auto;
    margin-top: 20%;
    margin-bottom: 1%;
    opacity: 0;
}
#sec03 .list>a .imgbox{
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left:0;
    z-index: 9;
    background-color: #3333cc;
    transition: all 0.5s;
    overflow: hidden;
}
#sec03 .list>a .imgbox>.img{
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left:0;
    opacity: 0.2;
    z-index: 9;
    background: url(../images/test.jpg);
    background-position: center auto;
    background-size: cover;
    background-repeat: no-repeat;
}

#sec03 .list>a:hover .textbox>h3{
    margin-top: 0%;
}
#sec03 .list>a:hover .textbox>p{
    opacity: 1;
}
#sec03 .list>a:hover .textbox>span{
    opacity: 1;
    display: block;
}
#sec03 .list>a:hover .textbox>.line{
    display: block;
}
#sec03 .list>a:hover .imgbox{
    background-color: #111111;
}
#sec03 .list>a:hover .imgbox>.img{
    transition: all 0.5s;
    transform: scale(1.1)
}






